:root {
  --yellow: #e9ad1c;
  --navebarC: rgba(255, 255, 255, 0.5);
  --blue: #002d68;
  --Lblue: #15d5f5;
  --dPurple: #2f004e;
  --gray: #676767;
  --meta: Metamorphous;
  --pop: Poppins;
  --headings: 40pt;
  --subHeading: 18pt;
  --paragraphs: 15pt;
  --buttonSize: 16pt;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  background-color: transparent;
  /*
  background: rgb(0, 83, 56) url("../assets/img/homeHeader.png") no-repeat;
  */
}

@font-face {
  font-family: "Moth";
  src: url("../assets/fonts/mythology_of_egypt/Mythology\ Of\ Egypt.otf");
}

.corner {
  border-radius: 16px;
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  padding: 15px 40px;
  background-color: var(--navebarC);
  margin: 40px 100px;
  position: relative;
  border-radius: 35px;
}

header {
  position: absolute;
  width: 100%;
}

.logo {
  width: 250px;
}

.logo img {
  width: 100%;
}

.navlinks {
  display: flex;
  gap: 20px;
}

.navlinks a {
  text-decoration: none;
  color: rgb(67, 67, 67);
  font-weight: 600;
}

.hero h1 {
  text-decoration: none;
  font-size: 80pt;
  font-family: moth;
  padding-top: 150pt;
  padding-right: 110pt;
}
.index .hero {
  align-items: center;
  background: url("../assets/img/homeHeader.png") no-repeat center / cover;
  flex-direction: row-reverse;
  min-height: calc(100vh + 100px);
  /*Compensate for the invalid aspect ratio of the image*/
}
.index .hero div {
  flex: 0 1 40%;
  margin-top: 20%;
}
.index .hero h1 {
  color: var(--yellow);
}

.contact .hero {
  background: url("../assets/img/contactHeader.png") no-repeat center / cover;
  color: white;
  align-items: center;
  justify-content: center;
  padding: 200px 0px 50px 0px;
}

.hero p {
  margin-left: 15px;
  font-family: var(--meta);
  font-size: var(--subHeading);
  color: white;
}

/*Input container with icons on both sides*/
.input-icon-container {
  display: flex;
  position: relative;
  width: 100%;
}
/*Icon Buttons*/
.input-icon-container button {
  border: 0;
  background-color: transparent;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: #aaa;
}
/*start icon of input*/
.input-icon-container button:first-child {
  left: 15px;
  padding-left: 0;
}
/*End icon of input*/
.input-icon-container button:last-child {
  right: 15px;
  border-left: solid 1px gray;
  padding-right: 0;
}

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;

  background-image: url("../assets/img/homeHeader.png");
  background-size: cover;
  background-repeat: no-repeat;
  flex-direction: row-reverse;
  min-height: 800px;
}
.header h1 {
  display: flex;
  flex: 0 0 35%;
  margin-top: 374px;
  margin-right: 84px;
  font-family: moth;
  font-size: 70pt;
}

.header h1 {
  text-decoration: none;
  color: var(--yellow);
}

.header p {
  margin-left: 13px;
  font-family: var(--meta);
  font-size: var(--subHeading);
  color: white;
}

.journeyCarousel {
  display: flex;
  padding: 20px 60px;
  background-color: var(--blue);
  padding: 20px;
}

.journeyCarouselContainer {
  padding: 103px;
  width: 60%;
}

.journey {
  padding-top: 190px;
  width: 40%;
}

.journey h3 {
  color: var(--yellow);
  font-family: var(--pop);
  font-weight: 600;
  font-size: var(--subHeading);
}

.journey h1 {
  color: white;
  font-family: var(--pop);
  font-weight: bold;
  font-size: var(--headings);
  padding-top: 5px;
}

.journey p {
  color: white;
  font-family: var(--pop);
  font-size: var(--paragraphs);
  padding-top: 20px;
}

.journey button {
  padding: 20px;
  padding-left: 55px;
  padding-right: 55px;
  margin-top: 20px;
  border-radius: 16px;
  color: white;
  background-color: var(--Lblue);
  font-family: var(--pop);
  font-weight: 650;
  font-size: var(--buttonSize);
}

.theCradle {
  display: flex;
  margin: 50px;
  margin-left: 135px;
  margin-top: 60px;
}

.theCradleText {
  margin: 20px;
  margin-top: 60px;
}

.theCradleText h4 {
  font-family: var(--pop);
  font-size: var(--paragraphs);
  color: var(--Lblue);
  margin-bottom: 20px;
}

.theCradleText h2 {
  font-family: var(--pop);
  font-size: 28pt;
  font-weight: 700;
  color: var(--dPurple);
  margin-bottom: 20px;
}

.theCradleText p {
  font-family: var(--pop);
  font-size: var(--paragraphs);
  color: var(--gray);
}

.theCradleContainer {
  display: flex;
  flex-direction: row;
  justify-content: right;
  margin-left: 20px;
}

.theCradleCorner {
  border-radius: 25px;
}

.pastFriends {
  display: flex;
  justify-content: center;
  background-color: var(--blue);
  padding: 20px;
}

.pastFriendsText {
  margin-top: 40px;
}

.pastFriendsText h3 {
  font-family: var(--pop);
  font-weight: 600;
  font-size: var(--paragraphs);
  color: var(--yellow);

  text-align: center;
}

.pastFriendsText h2 {
  font-family: var(--pop);
  font-weight: 700;
  font-size: 30pt;
  color: white;

  text-align: center;
}

.pastFriendsContainer {
  display: flex;
  justify-content: center;
  padding: 20px;
  background-color: var(--blue);
}

.pastFriendsContainer1 {
  padding: 20px;
  text-align: center;
}

.pastFriendsContainer1 h2 {
  font-family: var(--pop);
  font-weight: 600;
  font-size: 16pt;
  color: white;
  padding: 5px;
}

.pastFriendsContainer1 p {
  font-family: var(--pop);
  font-size: 11pt;
  color: white;
  padding: 5px;
}

.pastFriendsContainer2 {
  padding: 20px;
  text-align: center;
}

.pastFriendsContainer2 h2 {
  font-family: var(--pop);
  font-weight: 600;
  font-size: 16pt;
  color: white;
  padding: 5px;
}

.pastFriendsContainer2 p {
  font-family: var(--pop);
  font-size: 11pt;
  color: white;
  padding: 5px;
}

.pastFriendsContainer3 {
  padding: 20px;
  text-align: center;
}

.pastFriendsContainer3 h2 {
  font-family: var(--pop);
  font-weight: 600;
  font-size: 16pt;
  color: white;
  padding: 5px;
}

.pastFriendsContainer3 p {
  font-family: var(--pop);
  font-size: 11pt;
  color: white;
  padding: 5px;
}

.pastFriendsContainer4 {
  padding: 20px;
  text-align: center;
}

.pastFriendsContainer4 h2 {
  font-family: var(--pop);
  font-weight: 600;
  font-size: 16pt;
  color: white;
  padding: 5px;
}

.pastFriendsContainer4 p {
  font-family: var(--pop);
  font-size: 11pt;
  color: white;
  padding: 5px;
}

.legendBack {
  display: flex;
  justify-content: center;
  background-color: var(--blue);
}

.legend button {
  padding: 20px;
  padding-left: 35px;
  padding-right: 35px;
  margin: 30px;
  margin-bottom: 30px;
  border-radius: 16px;
  color: white;
  background-color: var(--Lblue);
  font-family: var(--pop);
  font-weight: 650;
  font-size: var(--buttonSize);
}

.infoBar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  background-color: var(--yellow);
  gap: 260px;
}

.filter {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 25px;

  font-family: var(--pop);
  font-size: 10pt;
  font-weight: 600;
  color: #ffdb86;
}

.filter button {
  background-color: transparent;
  border: none;
  width: 10px;
  color: #ffdb86;
}

.filter {
  border-right: solid rgba(96, 110, 123, 0.6) 3px;
  padding-right: 50px;
  margin: 5px;
}

.barText {
  font-family: var(--pop);
  font-size: 11pt;
  font-weight: 600;
  color: #ffdb86;
}

.show {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  font-family: var(--pop);
  font-size: 11pt;
  font-weight: 600;
  color: #ffdb86;
}

.show button {
  border: none;
  background-color: #ffdb86;
  border-radius: 5px;

  font-family: var(--pop);
  font-size: 11pt;
  font-weight: 600;
  color: #2f2100;
}

.section1 {
}

.aboutText {
  background-image: url("../assets/img/adoptHeader.png");
  padding: 6px;
  padding-top: 160px;
}

.aboutText h1 {
  text-align: center;
  font-family: Moth;
  font-size: 55pt;
  color: white;
}

.about {
  background-color: var(--blue);
  padding: 50px;
}

.about h2 {
  font-family: var(--meta);
  color: var(--yellow);
  font-size: var(--subHeading);
  text-align: center;
}

.about p {
  font-family: var(--pop);
  color: white;
  font-size: var(--paragraphs);
  text-align: center;
}

.adoption1 {
  display: flex;
  padding: 30px;
}

.upDownButton {
  align-items: baseline;
}

/*Contact */

/*Generic button class*/
.button {
  padding: 20px 60px;
  border: none;
  border-radius: 16px;
  color: white;
  background-color: var(--Lblue);
  font-family: var(--pop);
  font-weight: 650;
  font-size: var(--buttonSize);
}

/* Google Map insert */
.map-responsive {
  overflow: hidden;
  padding-bottom: 56.25%; /* Fix the Aspect Ratio */
  position: relative;
  height: 0;
  border-radius: 20px;
}

.map-responsive iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
}

/*Input with place for icons*/
.input-icon-container input {
  width: 100%;
  padding: 15px 40px 15px 40px;
  box-sizing: border-box;
  border-radius: 10px;
  border: 0;
}
.card .header {
  color: white;
  margin: 10px 30px;
}
.card .content {
  margin: 0px 30px;
}
.card {
  background-image: url(../assets/img/formBackground.png);
  background-size: cover;
  border-radius: 20px;
  padding: 30px;
  color: white;
}
.input-container {
  display: flex;
  flex-direction: column;
  margin: 10px 0px;
}
.input-container input,
.input-container textarea {
  padding: 15px;
  border-radius: 16px;
  border: none;
  margin-top: 10px;
}
























/*Footer Section */
.footer {
  display: flex;
  justify-content: space-evenly;
  align-items: start;
  padding: 30px;
}

.footer p {
  color: black;
}

.company h3 {
  font-family: var(--pop);
  font-size: 14pt;
  font-weight: 600;
}

.company a {
  color: var(--gray);
  font-family: var(--pop);
  font-size: 11pt;
}

.footer div {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.footer div .socialLinks {
  display: flex;
  flex-direction: row;
  gap: 15px;
}

.social h3 {
  font-family: var(--pop);
}

.socialLinks img {
  max-width: 70px;
}
.divider {
  border-top: solid 1px gray;
  margin: 0 10%;
}

.footerTerms {
  display: flex;
  justify-content: center;
  gap: 30px;
}

.footerTerms :first-child {
  flex: 0 1 60%;
}
/*Footer Section */
